html{
    background-color: black;
}

h1{
    color: white;
    text-transform: uppercase;font-size: 1rem;

}

p{
    color: rgb(255, 255, 255);
}

.poster{
    width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;

}

.motivation-img{
  border: 5px solid white;
  width: 50%;
}
